@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb)); 
}

.content
{
  padding: 20px;
  background-color: #f4f0ff;
  border-radius: 10px;
  margin-top: 18px;
  margin-inline: 15px;
}

.header {
  color: #8e44ad;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.highlight {
  color: #8e44ad;
  font-weight: bold;
}

.code {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;
}  

.code-headers{
  margin-top: 10px;
  margin-bottom: 10px;
} 
